#not-found-page {
    background: #000;
    width: 100vw;
    height: 100vh;

    .content {
        height: 100%;
        width: 100%;
        background: url('../../assets/undraw_page_not_found_su7k.svg');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center;
    }
}